*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: cadetblue;
}

h1{
    text-align: center;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
}

.fila1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}

.fila1 > a > :fa{
    font-size: 50px;
    cursor: pointer;
}

/*Se le da un estilo especifico a cualquier etiqueta*/
a > .fa:hover{
    color: rgb(187, 14, 240);
}